@media (max-width: 1000px) {
    #drops{
        display: none;
    }
    #logo{
       
        height: 1.5cm;
        position: relative;
        /* right: -4cm;
        top: .1cm; */
    }
    .divsepsec1{
        flex-direction: column;
        gap: 3cm;
        position: relative;
        top: -3cm;
        width: 80%;
        align-content: center;
        justify-content: center;
        margin: auto;
        
    }
    .rightpicture{
        width: 100%;
        position: relative;
        top: 2cm;
        left: -1cm;
    }
    .titletxt{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      br{
        display: none;
      }
    }
    .secondsection{
        width: 100%;
    }
    #bfhead{
        z-index: 1;
        border-left: none;
        border-right: none;
        height: 2cm;
    }
    /* .x{ display: inline;
        position: absolute;
        top: -4cm;
        left: 17cm;
        z-index: 3;
        width: 7cm;
    } */
    #modalbody{
        width: 6cm;
    }
    .flexhere{
        flex-direction: column;
    }
    .imgspam{
        width: 95%;
        
      }
      .fourth{
        flex-direction: column;
      }
      .modal-backdrop{
        display: none;
        
      }
      .modal-dialog{
        width: 400px;
        height: 300px;
        z-index: 3;
        position: relative;
        left: 4cm;
        border-radius: 12px;
        border: thick solid black double;
      }
      .anoflex{
        flex-direction: column;
       
       
      }
      .pap{
        flex-direction: column;
        gap: 3cm;
        
       
        
        
      }
      .div1{
        width: 100%;
        height: auto;
      }
      .div2{
        width: 100%;
        height: auto;
      }
      .div3{
        width: 100%;
        height: auto;
      }
      .div4{
        width: 100%;
        height: auto;
      }
   
}

@media (max-width:500px) {
    logo{
        position: fixed !important;
        left: 9cm !important;
        
    }
    /* .x{ display: inline !important;
        position: absolute !important;
        top: -4cm !important;
        left: 3cm !important;
        z-index: 3 !important;
        width: 8cm !important;
        height: 7cm;
    } */
    .close{
        font-size: 50px !important;
    }
    .modal-body{
        height: 12cm;
        margin-top: 2cm;
        position: relative;
        right: 1cm;
        background-color: white;
        z-index: 10;
    }
    .impbtn{
        position: relative !important;
        right: 7cm !important;
    }
    .navbar-brand{
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
    h2{
        font-size: xx-large;
        position: relative;
        left: -2cm;
    }

    
}